<%- include('partials/header') %>
    <main class="flex-1 pt-24 md:px-20 px-4">
        <section class="mb-12 text-center">
            <h1 class="text-md md:text-3xl font-extrabold text-gray-900 mb-4">View Contact Messages</h1>
            <p class="text-xs md:text-lg text-blue-700 mb-8">See all messages and enquiries sent via your website's
                contact
                form.</p>
        </section>
        <section class="max-w-5xl mx-auto">
            <div class="bg-white rounded-2xl shadow-xl p-8 overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Email
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Phone
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Message</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Date
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <% contacts.forEach(contact=> { %>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-900">
                                    <%= contact.firstname +' '+ contact.lastname %>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-900">
                                    <%= contact.email %>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-900">
                                    <%= contact.phone %>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-900">
                                    <%= contact.message %>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                                    <%= contact.submittedAt.toISOString().slice(0, 10) %>
                                </td>
                            </tr>
                            <% }) %>

                                <!-- More rows as needed -->
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>